body {
    background-color: #f3eae3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    width: 100vh;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #949393;
    font-weight: 500;
    font-size: 12px;
}
#textblock{
    line-height: 22px;
    margin-bottom: 1rem;
    font-size: 14px;
}
#container {   
    position:absolute;
    top:50%;
    left:50%;
    border-radius: 1rem;
    background-color: white;
    height: 450px;
    width: 600px;
    
    transform: translate(-50%, -50%);
}

#l_img{
    border-radius: 1rem 0 0 1rem;   
    width: 100%;
    object-fit: contain;
}

#float_divL {
    float:left;
    width: 50%;
}
#float_divR {
    float:left;
    width: 50%; 
}
#cont_text {
    height: 100%;
    padding: 1rem 2rem 1rem 2rem;
}

h1 {
    font-weight:bolder;
    color: black;
    font-family: 'Fraunces', serif;
    line-height: 32px;
}

h2 {
    font-family: 'Fraunces', serif;
    color: #3d8168;
    display:inline;
    font-weight: bold;
    font-size: xx-large;
}

#prev_price {
    text-decoration:line-through;
    display: inline;
    line-height: 32px;
    vertical-align:top;
    font-size: 12px;
    margin-inline-start: 10px;
}

#btn_addcart {
    margin-top: 30px;
    width: 235px;
    height: 50px;
    background-color: #3d8168;    
    color: white;
    border:none;
    border-radius: 0.5rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

#btn_addcart:hover {
    background-color: #1a4031;
    cursor: pointer;
}

#btn_img{
    padding-right: 10px;
    height: 14px;
    width: 14px;
}